/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: #3D3D3D;
}
.alto {
    width: 100%;
    height: 20vh;
    background-color: #3D3D3D;
    border-bottom: solid black 1px;
}
.esquerda {
    width: 20%;
    height: 100vh;
    background-color: #3D3D3D;
    border-right: solid 1px black;
}
.up {
    width: 100%;
    height: 20vh;
    background-color: #3D3D3D;
    border-bottom: solid black 1px;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
}
nav a {
    padding: 12px;
    font-size: 1.5vw;
    text-decoration: none;
}
.meio {
    display: flex;
    justify-content: center;
}
.editafoto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 70%;
    height: 22vh;
    margin-top: 1vw;
    border-radius: 3px;
    margin-left: 19vw;
}
button img {
    width: 8vw;
    height: 8vw;
    padding: 10px 7px 9px 10px;
}

.banner button {
    margin-top: 19vw;
    background-color: #3D3D3D;
    align-items: center;
    margin-left: 8vw;
}
.informacoes p{
    padding-top: 1vw;
    font-size: 1.7vw;
}
.banner .informacoes {
    padding-top: 2vw;
}

.informacoes h1 {
    display: flex;          
    align-items: center;  
    gap: 1.4vw;
    padding: 0 0 0 2.3vw;         
    justify-content: center;
    font-size: 2vw;
}
.informacoes p {
     display: flex;          
    align-items: center;  
    gap: 1.4vw;         
    justify-content: center;
}
h1 img {
    width: 2.6vw;
    height: 2.4vw;
}
